@use '@angular/material' as mat;

.demo-container {
  margin: 30px;
}

.demo-card {
  @include mat.elevation(2);
  position: absolute;
}

.demo-card-header {
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
}

.demo-card-footer {
  margin: 0px;
  padding: 16px;
}
